<app-nav></app-nav>
<div *ngIf="showModal">
  <app-modal (closeModal)="toggleModal()" (productCreated)="getProducts()"></app-modal>
</div>
<div *ngIf="showEditModal">
  <app-edit-modal 
  [product]="selectedProduct" 
  (closeModal)="toggleEditModal()" 
  (productCreated)="getProducts()"></app-edit-modal>
</div>

<main>
<div class="mt-4">
    <div class="products px-4">
       <div class="top d-flex justify-content-end">
          <button type="button" class="btn btn-primary" 
            (click) = "toggleModal()"
          >Add product</button>
       </div>
       <div class="bottom mt-5">
          <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="text-center">Name</th>
                  <th scope="col" class="text-center">Price(#)</th>
                  <th scope="col" class="text-center">Quantity</th>
                  <th scope="col" class="text-center"></th>
                  <th scope="col" class="text-center"></th>
                </tr>
              </thead>
              <tbody *ngFor="let product of products">
                <tr>
                  <td class="text-center">{{product.name}}</td>
                  <td  class="text-center">{{product.price}}</td>
                  <td  class="text-center">{{product.quantity}}</td>
                  <td>
                    <div class="d-flex gap-2 align-items-center">
                         <button type="button" class="btn btn-primary" (click)="viewProduct(product)">view</button>
                        <button type="button" class="btn btn-secondary" (click) = "editProduct(product)">Edit</button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          
       </div>
    </div>
</div>
</main>